[submodule "CFU-Playground"]
	path = submodules/CFU-Playground
	url = https://github.com/Marcobisky/CFU-Playground.git
[submodule "submodules/CFU-Playground"]
	path = submodules/CFU-Playground
	url = https://github.com/Marcobisky/CFU-Playground.git
